@model TicTacToeSignalR.ViewModel.GameViewModel
@using TicTacToeSignalR.ExtensionMethods
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .gameplace {
        float:left;
        width:400px;
    }
    .summary {
        float:left;
        width:400px;
        border:0.5px dotted black;    
    }
    .board-wrapper {
        width:100%;
    }
    
    table.board {
        width:360px;
        padding:0px;
        margin:0px;
        border:1px solid black;
        border-collapse:collapse;
    }
    table.board td {
        padding:0px;
        margin:0px;
        border:1px solid black;
    }
    table.board a.tile {
        width:120px;
        height:120px;
        display:block;
    }
    table.board a.selectedo,
    table.board a.o:hover {
       background-image:url("../../Content/themes/base/images/o.png");
       background-position:center center;
       background-repeat : no-repeat;
    }
    table.board a.selectedx,
     table.board a.x:hover {
       background-image:url("../../Content/themes/base/images/x.png");
       background-position:center center;
       background-repeat : no-repeat;
    }
    table.board a.invalid {
        cursor:not-allowed;
    }

    #lobby {
        margin-left:auto;
        margin-right:auto;
    }
    #lobby .left-side {
        width:400px;
        float:left;
    }
    #lobby .right-side {
        width:100px;
        float:left;
        border:1px solid red;
    }


    #lobby .left-side ul{
        list-style-type:none;
        padding:0px;
        margin:0px;
    }
    #lobby .left-side ul li a {
        display:block;
        text-align:right;
        text-decoration: none;
        font-family:Tahoma;
        font-size:18px;
    }
    #invite {
        margin-left:10px;
        background-color:#ff6a00;
        color:#fff;
        padding:10px;
    }
    #players-container {
        background-color:#e0dcdc;
    }
    #players-container li {
        padding:3px;
        margin-bottom:1px;
    }
        
    #players-container a {
        color:black;
        font-weight:normal;
    }
    #players-container a:hover {
        background-color:#0094ff;
    }
    .invite-answer {
        background-color:#fff;
        color:red !important;
        text-decoration:none;
        padding:3px;
    }
    
</style>



<div id="lobby-wrapper">
    <div id="lobby">
        <div class="left-side">
            <ul id="players-container"></ul>
        </div>
        <div class="left-side">
            <div id="invite" style="width:400px;">
                <div style="width:300px;float:left">
                    asdasfasadsasada invited you to play a match.
                </div>
                <div style="width:70px;float:right">
                    <div style="width:35px;float:left">
                        <a href="#" class="invite-answer" data-answer="yes">Yes</a>
                    </div>
                    <div style="width:35px;float:left">
                        <a href="#" class="invite-answer" data-answer="no">No</a>
                    </div>
                    <div style="clear:left;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:left;"></div>
        </div>
        <div style="clear:left;"></div>
    </div>
</div>


<div class="board-wrapper" style="display:none;">
    <h2></h2>
    <div class="gameplace">
        @Html.RenderBoard(Model,'x')
    </div>
    <div class="summary">        
    </div>
    <div style="clear:both;"></div>
</div>


<script type="text/javascript">
    $(function () {
        //helpermethods
        $('.tile[data-allowed="True"]').click(function () {
            var self = $(this);
            var data = {
                xPosition: self.attr('data-x'),
                yPosition: self.attr('data-y'),
                PieceType: 'x'
            };
        });

        $('.invite-answer').click(function (e) {
            var self = $(this);
            if (self.attr('data-answer') == 'yes') {
                $('.board-wrapper').fadeIn(200);
                $('#lobby-wrapper').fadeOut(200);
            }
            else {
                $('#invite').fadeOut(200);
            }
        });






        //signalR
        var proxy = $.connection.gameHub;
        proxy.state.name = '@TempData["nickname"]';

        proxy.client.appendSummary = function (data) {
            $('.summary').append('<div>' + data + '</div>');
        }

        proxy.client.updateSummary = function (data) {
            $('.summary > div').remove();

            $.each(data, function () {
                $('.summary').append('<div>' + this + '</div>');
            });
        };

        proxy.client.refreshPlayersList = function (playerList) {
            $('#players-container > li').remove();

            $.each(playerList, function (index, player) {
                var appendContent = '';
                if (player != null && player.Nick != proxy.state.name) {
                    appendContent = '<li><a href="#" class="player" data-id="' + player.Id + '">' + player.Nick + '</a></li>';
                }
                else {
                    appendContent = '<li><a href="#">(o_O) ' + player.Nick + '</a></li>';
                }
                    $('#players-container').append(appendContent);
                })
        }
      
        $('.player').click(function () {
            
        });


        $.connection.hub.start().done(function () {
            proxy.server.playerJoined();
        })
        .fail(function () {
            console.log('failed to load signalr');
        });
    });
</script>